# Binaries
/bin/
/obj/
/cjamz

# Build logs / temp
*.log
*.out
*.o
*.exe

# OS / editor files
.DS_Store
Thumbs.db

# Backup / temp
*~
*.swp
*.tmp

# VS Code
.vscode/

# CLion / CMake
.idea/
cmake-build-*/

# Ignore any example file
example.*